@import "./scss/flickity-library.scss";
@import "./scss/flickity.scss";
@import "./scss/main-project.scss";
@import "./scss/description.scss";
@import "./scss/pickings.scss";
@import "./scss/delivery.scss";
@import "./scss/big-description.scss";
@import "./scss/report.scss";
@import "./scss/description-another.scss";
@import "./scss//footer.scss";

.main {
  flex: 1 1 auto;
  display: flex;
  &__wrapper {
    min-width: 320px;
    margin: auto;
    margin-top: 0;
    @media (max-width: 767px) {
      padding-top: 90px;
      max-width: none;
    }
    @media (min-width: 1024px) {
      max-width: 980px;
    }
    @media (min-width: 1920px) {
      padding-left: 0;
      min-width: 1140px;
    }
  }
  &__title.section__title {
    text-align: center;
    color: #503314;
    @media (min-width: 1024px) {
      text-align: left;
      padding-left: 30px;
    }
    @media (min-width: 1920px) {
      font-size: 60px;
    }
  }
  &__box {
    display: flex;
    width: 100%;
    @media (min-width: 768px) {
      padding-left: 90px;
    }
    @media (min-width: 1200px) {
      padding-left: 215px;
    }
    @media (min-width: 1920px) {
      padding-left: 290px;
    }
  }
  &__top {
    padding-top: 20px;
    @media (min-width: 1024px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__flex-box {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-around;
    }
  }
  &__breadcrumb.breadcrumb {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      margin-bottom: 15px;
      padding-left: 30px;
    }
  }
}
.section {
  &__wrapper {
    padding: 0 10px;
    padding-top: 50px;
    margin: auto;
  }
  &__title {
    font-family: "Officina";
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }
}
.breadcrumb {
  display: flex;
  &__item {
    padding-right: 50px;
    position: relative;
    &_active {
      .breadcrumb__text {
        color: rgb(200, 200, 168);
        pointer-events: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
      background-image: url("@img/main-project/breadcrumb-arrow.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 10px;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__text {
    color: black;
  }
}
