@import "../../assets/styles/const.scss";

.dropdown {
  position: relative;
  display: block;
  &_show {
    .input__main {
      border-radius: 4px 4px 0 0;
      border: 1px solid black;
    }
    .dropdown__content {
      visibility: visible;
      border-top: none;
    }
  }
  &_with-add-block {
    .dropdown {
      &__main {
        display: flex;
      }
      &__add-input {
        width: 70%;
        @media (min-width: 360px) {
          width: 75%;
        }
        & + * {
          width: 30%;
          @media (min-width: 360px) {
            width: 25%;
          }
          .input__main {
            border-radius: 0 4px 4px 0;
          }
        }
        .input__main {
          border-right: 0;
          border-radius: 4px 0 0 4px;
        }
      }
    }
  }
  &__main {
    align-items: center;
    position: relative;
  }
  &__content {
    background-color: white;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 0 0 4px 4px;
    z-index: 1;
  }
  &__button {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 24px;
    height: 24px;
    transform: translate(0, -50%);
    border-radius: 50%;
    background-color: $backArrow;
    display: flex;
    justify-content: center;
    &:focus {
      background-color: red;
    }
  }
}
