@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

@import "./normalize.scss";
@import "./header/header.scss";
@import "./content/content.scss";
@import "./footer/footer.scss";

/// -- Variables --
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-exl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
/// -- / Variables --

/// --- svg sprite ---
.svg-arrow-right-dims {
  width: 48px;
  height: 48px;
}
.svg-christmas-trees-dims {
  width: 384px;
  height: 300px;
}

.svg-github-dims {
  position: absolute;
}
.svg-html-dims {
  width: 48px;
  height: 48px;
}
.svg-mail-dims {
  width: 48px;
  height: 48px;
}

.svg-stepik-dims {
  position: absolute;
  width: 25%;
  height: auto;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.1;
}
.svg-vk-dims {
  width: 48px;
  height: 48px;
}
/// ---/ svg sprite
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope";
  @media (max-width: 1199px) {
    &.lock {
      overflow: hidden;
      .main-screen,
      .content,
      .footer {
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba($color: #000000, $alpha: 0.6);
        }
      }
    }
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  width: 100%;
  margin: auto;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  @media (max-width: 575px) {
    padding-top: 60px;
  }
  @media (min-width: 576px) and (max-width: 1199px) {
    padding-top: 80px;
  }
}
