.about {
  &__wrapper {
  }
  &__content {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2rem;
    text-align: center;
  }
  &__about-me {
    padding-top: 40px;
  }
}
.about-me {
  &__text {
    text-align: left;
    padding-left: 30px;
    li {
      list-style-type: square;
    }
  }
  &__title {
    margin-bottom: 20px;
    padding-top: 30px;
  }

  &__items {
    text-align: left;
    @media (min-width: 768px) {
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  &__item {
    @media (min-width: 576px) and (max-width: 767px) {
      display: flex;
      justify-content: center;
      flex: 0 1 50%;
    }
  }
  &__skills {
    @media (min-width: 576px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      justify-content: space-around;
    }

    @media (min-width: 768px) {
      justify-content: center;
    }
  }
  &__term {
    font-weight: 600;
  }

  &__desc {
    text-align: right;
  }
  &__graphs {
    border-bottom: 2px solid rgba($color: grey, $alpha: 0.6);
    @media (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
    @media (min-width: 768px) {
      padding: 0 10px;
      margin-right: 10px;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
  &__certificates {
    .about-me__item {
      list-style-type: decimal;
    }
  }
  &__certificate {
    &.ibg {
      background-size: 10%;
      background-position: right;
    }
    position: relative;
    @media (max-width: 575px) {
      padding-left: 15px;
    }
    @media (min-width: 576px) {
      padding-left: 50px;
    }
  }
  &__image {
  }
  &__logo-certificate {
    max-width: 40px;
  }
  @media (max-width: 575px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 576px) {
  }
  &__facts {
    @media (max-width: 575px) {
      padding-left: 15px;
    }
    @media (min-width: 576px) {
      padding-left: 30px;
    }
  }
  &__fact {
    list-style-type: disc;
  }
}

.main-carousel {
  margin: auto;
  margin-bottom: 53px;
  @media (max-width: 575px) {
    max-width: 320px;
  }
  @media (min-width: 576px) {
    max-width: 450px;
  }
  @media (min-width: 1000px) {
    max-width: 650px;
  }
}
.carousel-cell {
  width: 100%;
}
.image-source {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: rgb(40, 212, 255);
  font-size: 14px;
  opacity: 0.5;
  &__link {
    color: rgb(139, 244, 253);
  }
}
.flickity-prev-next-button {
  @media (max-width: 575px) {
    display: none;
  }
}
.flickity-page-dots {
  bottom: -65px;
  .dot {
    width: 48px;
    height: 48px;
    border: none;
    background: url("@img/tree.png") center/80% no-repeat;
  }
}
//  circle
.card-graph {
  &__wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
    max-width: 152px;
    &.ibg {
      background-size: 65%;
    }
    @media (max-width: 575px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__base-circle {
    position: relative;
    max-width: 152px;
    min-height: 152px;
    z-index: 10;
    &:hover {
      .number {
        font-size: 30px;
      }
    }
  }
  &__circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgba($color: grey, $alpha: 0.1);
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(6px, 6px);
  }
  &__first-circle {
  }

  &__second-circle {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
  }
  &__another {
    min-height: 152px;
    min-width: 152px;
  }
  &__html {
    position: relative;
    .card-graph__second-circle {
      stroke-dashoffset: calc(440 - (440 * 70) / 100);

      stroke: chocolate;
      stroke-width: 12px;
    }
  }
  &__css {
    position: relative;
    .card-graph__second-circle {
      stroke-dashoffset: calc(440 - (440 * 70) / 100);
      stroke: bisque;
      stroke-width: 12px;

      stroke-width: 200% 200%;
    }
  }
  &__js {
    position: relative;

    .card-graph__second-circle {
      stroke-dashoffset: calc(440 - (440 * 40) / 100);
      stroke: rgb(2, 207, 207);
      stroke-width: 12px;
    }
  }
  &__python {
    position: relative;

    .card-graph__second-circle {
      stroke-dashoffset: calc(440 - (440 * 40) / 100);
      stroke: seagreen;
      stroke-width: 12px;
    }
  }
  &__gulp {
    position: relative;
    .card-graph__second-circle {
      stroke-dashoffset: calc(440 - (440 * 60) / 100);
      stroke: rgb(65, 187, 243);
      stroke-width: 12px;
    }
  }
  &__webpack {
    position: relative;
    .card-graph__second-circle {
      stroke-dashoffset: calc(440 - (440 * 50) / 100);
      stroke: rgb(221, 235, 33);
      stroke-width: 12px;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
  &__percent {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: font-size 0.5s;
    transform: translate(-50%, -50%);
    &__title {
    }
  }
  &__percent-number {
    font-weight: 800;
    background: rgba($color: white, $alpha: 0.7);
  }
}

// --circle
