.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(46 205 172);
  z-index: 50;
  @media (max-width: 575px) {
    max-height: 60px;
  }
  @media (min-width: 576px) {
    max-height: 80px;
  }
  @media (max-width: 1199px) {
    position: relative;
    display: flex;
    width: 100%;
    position: fixed;
  }
  @media (min-width: 1200px) {
    background-color: rgb(46 205 172 / 80%);
    max-height: 100%;
    width: 21%;
  }
  &__wrapper {
    height: 100%;
    padding: 10%;
    text-align: center;
    @media (max-width: 575px) {
      padding: 0 15px;
    }
    @media (min-width: 576px) {
      padding: 0 40px;
    }
    @media (max-width: 1199px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media (min-width: 1200px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  &__logo {
    display: inline-block;
    color: white;
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 1200px) {
      margin-bottom: 80px;
    }
  }
  &__description {
    @media (max-width: 1199px) {
      display: none;
    }
  }
  &__name {
    font-weight: 600;
  }

  &__photo {
    border-radius: 50%;
    max-width: 60px;
    @media (min-width: 1200px) {
      max-width: 200px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;

    @media (max-width: 575px) {
      width: 100%;
      top: 60px;
      &-open {
        height: calc(100% - 60px);
      }
    }
    @media (max-width: 767px) {
      overflow: auto;
      align-items: center;
      height: 100vh;
      position: fixed;
      background: url("@img/it-back.jpg") repeat;
      left: -100%;
      opacity: 0;
      margin: 0;
      transition: left 0.4s;
      justify-content: center;
      align-items: start;
      padding-top: 70px;
      &-open {
        opacity: 1;
        left: 0;
      }
    }
    @media (min-width: 576px) and (max-width: 767px) {
      top: 80px;
      width: 348px;
      &-open {
        height: calc(100% - 80px);
      }
    }
    @media (min-width: 768px) {
      flex-direction: row;
    }
    @media (min-width: 1200px) {
      z-index: 3;
      flex-direction: column;
    }
  }
  &__images {
    position: relative;
    width: 100%;
    min-height: 200px;
    @media (max-width: 1199px) {
      display: none;
    }
  }
  &__image {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity 0.4s;
    max-width: 200px;
    width: 100%;
    height: 100%;
    &.active {
      opacity: 1;
    }
  }
  &__item-image {
    max-width: 250px;
  }
  &__right {
    display: flex;
  }

  &__like {
    display: flex;
    align-items: center;
    margin-right: 16px;
    z-index: 3;
    img {
      margin-right: 4px;
    }
  }
  &__login {
    display: flex;
    align-items: center;
    transition: color 0.5s;
    z-index: 3;
    &:hover {
      color: turquoise;
    }
    @media (max-width: 1199px) {
      display: none;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    font-weight: 500;
  }

  &__burger {
    display: none;
    @media (min-width: 1200px) {
      display: none;
    }
  }
  &__wrapper-burger {
    padding: 15px;
  }
  @media (max-width: 767px) {
    &__burger {
      display: block;
      position: relative;
      width: 21px;
      height: 16.5px;
      z-index: 3;
      &::before,
      &::after {
        content: "";
        background-color: #38424e;
        position: absolute;
        width: 100%;
        height: 2.5px;
        left: 0;
      }
      &::before {
        top: 0;
        transition: all 0.4s ease 0s;
      }
      &::after {
        bottom: 0;
        transition: all 0.4s ease 0s;
      }
      span {
        content: "";
        background-color: #38424e;
        position: absolute;
        width: 100%;
        height: 2.5px;
        left: 0;
        top: 7px;
        transition: all 0.4s ease 0s;
      }
      &.active::before {
        transform: rotate(45deg);
        top: 7px;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 7px;
      }
      &.active span {
        transform: scale(0);
      }
    }
  }
  &__portfolio {
    background: url("@img/portfolio.png") center/100% no-repeat;
  }
  &__about {
    background: url("@img/about.png") center/100% no-repeat;
  }
  &__about-site {
    background: url("@img/about-site.png") center/90% no-repeat;
  }
  &__contacts {
    background: url("@img/net.png") center/90% no-repeat;
  }
}
.navigation {
  &__list {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 800;
    @media (max-width: 767px) {
      background: rgba($color: white, $alpha: 0.8);
      border-radius: 5px;
    }
    @media (min-width: 768px) {
      flex-direction: row;
    }
    @media (min-width: 1200px) {
      text-align: left;
      flex-direction: column;
      margin-bottom: 60px;
    }
  }

  &__item {
    &:hover {
      .header__item-image {
        opacity: 1;
      }
    }
    @media (min-width: 768px) {
      margin-right: 10px;
    }
    @media (max-width: 1199px) {
      flex-direction: column;
      font-size: 24px;
    }

    @media (min-width: 1200px) {
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }
  &__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  &__link {
    cursor: pointer;
    padding: 15px;
    display: block;
    color: black;
    &:hover {
      transition: color 0.5s;
      color: rgb(46 205 172);
    }
    &.active {
      color: rgb(46 205 172);
    }
    @media (max-width: 767px) {
      padding: 15px 40px;
    }
    @media (min-width: 768px) {
      padding: 4px 6px;
      color: #c0fcff;
      &.active {
        color: #022013;
      }
      &:hover {
        transition: color 0.5s;
        color: #022013;
      }
    }
    @media (max-width: 1199px) {
    }
  }
}
