extends ./base
include ../components/header/header
include ../components/icon/icon
include ../components/image/image
include ../components/bank-info/bank-info
include ../components/button/button

block title
  | Кайли

block variables

block content
  +header()
  main.main
    section.banks
      .banks__wrapper
        .banks__item
          +bank-info({title: 'Льготная ипотека на новостройка', 
                      subtitle: 'Банк ДомРФ', 
                      logo: 'banks-logo--logo_1', 
                      bid: '3,99%', 
                      sum: '12', 
                      payment: '9 082₽',
                      term: 'Cрок кредита неизвестен'})
        .banks__item
          +bank-info({title: 'Семейная ипотека', 
                      subtitle: 'Банк ДомРФ', 
                      logo: 'banks-logo--logo_2', 
                      bid: '3,99%', 
                      sum: '12', 
                      payment: '9 082₽',
                      term: 'На срок до 30 лет'})
        .banks__item
          +bank-info({title: 'Семейная ипотека', 
                      subtitle: 'Банк ДомРФ', 
                      logo: 'banks-logo--logo_3',
                      bid: '3,99%', 
                      sum: '12', 
                      payment: '9 082₽',
                      term: 'На срок до 30 лет'})
        .banks__item
          +bank-info({title: 'Семейная ипотека', 
                      subtitle: 'Банк ДомРФ', 
                      logo: 'banks-logo--logo_4',
                      bid: '3,99%', 
                      sum: '12', 
                      payment: '9 082₽',
                      term: 'На срок до 30 лет'})
        .banks__item
          +bank-info({title: 'Семейная ипотека', 
                      subtitle: 'Банк ДомРФ', 
                      logo: 'banks-logo--logo_4',
                      bid: '3,99%', 
                      sum: '12', 
                      payment: '9 082₽',
                      term: 'На срок до 30 лет'})
        

