extends ./base

include ../components/header/header
include ../components/icon/icon
include ../components/image/image
include ../components/bank-info/bank-info
include ../components/button/button
include ../components/input/input
include ../components/dropdown/dropdown
include ../components/slider/slider
include ../components/slider-item/slider-item
include ../components/mortgage-info/mortgage-info
include ../components/parallax-block/parallax-block
include ../components/house-card/house-card
include ../components/tabs/tabs
include ../components/footer/footer

block title
  | Кайли

block variables

block header
  +header()
block content
  main.main
    include ./pug/selection
    include ./pug/banks-before
    include ./pug/slider-section
    include ./pug/banks-after
    include ./pug/mortgage
    include ./pug/parallax
    include ./pug/apartments
    include ./pug/main-bottom
block footer
  +footer()
