mixin input(options)
  if !options
    - options = {}
  -
    var classes = ''
    classes += options.withCounter ? ' input_' + options.withCounter : ''

  if (options.type ==='text' || options.type ==='number')
    label.input
      input.input__main(
            type = options.type, 
            placeholder = options.placeholder,
            name = options.name,
            value = options.value,
            readonly = options.read,
            )
      if options.label
        .input__text  #{options.label}

        