mixin icon(options)
  if !options
    - options = {}
  span.icon
    span.icon__image
      img(src=`../../src/assets/svgsprite/stack/svgsprite.svg#${options.name}` class=`svg-${options.name}-dims` alt=`${options.name}`).logo
    if options.text
      span.icon__text= options.text
    