section.banks-after.section
        .banks-after__wrapper.section__container
          .banks-after__items
            .banks-after__item
              +bank-info({title: 'Ипотека в Новостройке', 
                        subtitle: 'Банк ДомРФ', 
                        logo: 'banks-logo--logo_4',
                        bid: '3,99%', 
                        sum: '12', 
                        payment: '9 082₽',
                        term: 'На срок до 30 лет'})
            .banks-after__item
              +bank-info({title: 'Дальневосточная ипотека', 
                        subtitle: 'Банк ДомРФ', 
                        logo: 'banks-logo--logo_5',
                        bid: '3,99%', 
                        sum: '12', 
                       payment: '9 082₽',
                        term: 'На срок до 30 лет'})
            .banks-after__item
              +bank-info({title: 'Семейная ипотека', 
                        subtitle: 'Банк ДомРФ', 
                        logo: 'banks-logo--logo_6',
                        bid: '3,99%', 
                        sum: '12', 
                        payment: '9 082₽',
                        term: 'На срок до 30 лет'})
            .banks-after__item
              +bank-info({title: '	Ипотека для семей с детьми', 
                        subtitle: 'Банк ДомРФ', 
                        logo: 'banks-logo--logo_7',
                        bid: '3,99%', 
                        sum: '12', 
                        payment: '9 082₽',
                        term: 'На срок до 30 лет'})
            .banks-after__item
              +bank-info({title: 'Семейная ипотека', 
                        subtitle: 'Банк ДомРФ', 
                        logo: 'banks-logo--logo_8',
                        bid: '3,99%', 
                        sum: '11', 
                        payment: '9 082₽',
                        term: 'На срок до 30 лет'}) 
            .banks-after__item
              +bank-info({title: 'Семейная ипотека', 
                        subtitle: 'Банк ДомРФ', 
                        logo: 'banks-logo--logo_9',
                        bid: '3,99%', 
                        sum: '12', 
                        payment: '9 082₽',
                        term: 'На срок до 30 лет'}) 
            .banks-after__item
              +bank-info({title: 'Семейная ипотека', 
                        subtitle: 'Банк ДомРФ', 
                        logo: 'banks-logo--logo_10',
                        bid: '3,99%', 
                        sum: '12', 
                        payment: '9 082₽',
                        term: 'На срок до 30 лет'})
            .banks-after__item
              +bank-info({title: 'Семейная ипотека', 
                        subtitle: 'Банк ДомРФ', 
                        logo: 'banks-logo--logo_11',
                        bid: '3,99%', 
                        sum: '12', 
                        payment: '9 082₽',
                        term: 'На срок до 30 лет'}) 
            
                        
          .banks-after__more
            +button({tag: 'button', text: 'Показать больше', size: 'middle'})