section.slider-section.section
        .slider-section__wrapper.section__container
          +slider()
            +slider-item({name: 'slider', ext: 'png',title: 'ЖК Резеденция парк',
                  description: 'Успейте купить квартиру с выгодой до 50 000 рублей. Детский сад. Котельная. Школа. Не больше 3х стр..',
                  sum: 'Квартиры от 2 136 443 ₽',
                  another: 'Проектная декларация на сайте наш.дом.рф Застройщик ООО «СЗ «ДМ АПАРТМЕНТС»'
                  })
            +slider-item({name: 'slider', ext: 'png',title: 'ЖК Резеденция парк',
                  description: 'Успейте купить квартиру с выгодой до 50 000 рублей. Детский сад. Котельная. Школа. Не больше 3х стр..',
                  sum: 'Квартиры от 2 136 443 ₽',
                  another: 'Проектная декларация на сайте наш.дом.рф Застройщик ООО «СЗ «ДМ АПАРТМЕНТС»'
                  })
            +slider-item({name: 'slider', ext: 'png',title: 'ЖК Резеденция парк',
                  description: 'Успейте купить квартиру с выгодой до 50 000 рублей. Детский сад. Котельная. Школа. Не больше 3х стр..',
                  sum: 'Квартиры от 2 136 443 ₽',
                  another: 'Проектная декларация на сайте наш.дом.рф Застройщик ООО «СЗ «ДМ АПАРТМЕНТС»'
                  })
            +slider-item({name: 'slider', ext: 'png',title: 'ЖК Резеденция парк',
                  description: 'Успейте купить квартиру с выгодой до 50 000 рублей. Детский сад. Котельная. Школа. Не больше 3х стр..',
                  sum: 'Квартиры от 2 136 443 ₽',
                  another: 'Проектная декларация на сайте наш.дом.рф Застройщик ООО «СЗ «ДМ АПАРТМЕНТС»'
                  })