.svg-active-green-dims {
  width: 16px;
  height: 15px;
}
.svg-ad-dims,
.svg-question-dims {
  width: 12px;
  height: 12px;
}
.svg-arrow-dims {
  width: 10px;
  height: 7px;
}
.svg-bus-dims,
.svg-onfoot-dims {
  width: 16px;
  height: 16px;
}
.svg-like-dims,
.svg-login-dims {
  width: 24px;
  height: 24px;
}
.svg-like-grey-dims {
  width: 18px;
  height: 16px;
}
.svg-links-dims {
  width: 25px;
  height: 24px;
}

.svg-logo-dims {
  width: 33px;
  height: 32px;
}
.svg-phone-dims {
  width: 14px;
  height: 14px;
}

.svg-qayli-first-dims {
  width: 79px;
  height: 20px;
}
.svg-onfoot-grey-dims {
  width: 16px;
  height: 16px;
}
