.svg-active-green-dims {
  width: 16px;
  height: 15px;
}
.svg-add-dims {
  width: 12px;
  height: 12px;
}
.svg-arrow-dims {
  width: 8px;
  height: 5px;
}
.svg-banks-logo--logo_1-dims {
  width: 48px;
  height: 48px;
}
.svg-banks-logo--logo_10-dims {
  width: 40px;
  height: 40px;
}
.svg-banks-logo--logo_11-dims {
  width: 40px;
  height: 40px;
}
.svg-banks-logo--logo_12-dims {
  width: 40px;
  height: 40px;
}
.svg-banks-logo--logo_13-dims {
  width: 40px;
  height: 40px;
}
.svg-banks-logo--logo_14-dims {
  width: 40px;
  height: 40px;
}
.svg-banks-logo--logo_15-dims {
  width: 64px;
  height: 64px;
}
.svg-banks-logo--logo_2-dims {
  width: 48px;
  height: 48px;
}
.svg-banks-logo--logo_3-dims {
  width: 48px;
  height: 48px;
}
.svg-banks-logo--logo_4-dims {
  width: 48px;
  height: 48px;
}
.svg-banks-logo--logo_5-dims {
  width: 48px;
  height: 48px;
}
.svg-banks-logo--logo_6-dims {
  width: 48px;
  height: 48px;
}
.svg-banks-logo--logo_7-dims {
  width: 48px;
  height: 48px;
}
.svg-banks-logo--logo_8-dims {
  width: 40px;
  height: 40px;
}
.svg-banks-logo--logo_9-dims {
  width: 40px;
  height: 40px;
}
.svg-bus-dims {
  width: 16px;
  height: 16px;
}
.svg-like-dims {
  width: 24px;
  height: 24px;
}
.svg-like-grey-dims {
  width: 18px;
  height: 16px;
}
.svg-links-dims {
  width: 25px;
  height: 24px;
}
.svg-login-dims {
  width: 24px;
  height: 24px;
}
.svg-logo-dims {
  width: 33px;
  height: 32px;
}
.svg-onfoot-dims {
  width: 16px;
  height: 16px;
}
.svg-phone-dims {
  width: 14px;
  height: 14px;
}
.svg-question-dims {
  width: 12px;
  height: 12px;
}
